<article class="helpsectionComponent">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="taC mb10">
          <a href="" class="btn btn--square btn--square-small btn--green">¿Necesitas ayuda?</a>
        </div>
        <h2 class="font--subtitle taC">
          Título de la sección
        </h2>
      </div>
    </div>
    <!-- The boxes -->
    <div class="row mt30">
      <!-- New box -->
      <div class="col-md-4">
        <div class="taC">
          <h2 class="font--subtitle taC">
            <img src="./assets/img/imgL1.PNG" alt="imgL1">
          </h2>
          <h4 class="font--20 mt15">
            <strong>Servicio 1</strong>
          </h4>
          <p class="font--18 mt10">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit molestias sed repellat.
          </p>
          <div class="mt15">
            <img src="./assets/img/flecha.PNG" alt="Arrow">
          </div>
        </div>
      </div>
      <!-- New box -->
      <div class="col-md-4">
        <div class="taC">
          <h2 class="font--subtitle taC">
            <img src="./assets/img/imgL2.PNG" alt="imgL2">
          </h2>
          <h4 class="font--20 mt15">
            <strong>Servicio 2</strong>
          </h4>
          <p class="font--18 mt10">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit molestias sed repellat.
          </p>
          <div class="mt15">
            <img src="./assets/img/lapso.PNG" alt="Arrow">
          </div>
        </div>
      </div>
      <!-- New box -->
      <div class="col-md-4">
        <div class="taC">
          <h2 class="font--subtitle taC">
            <img src="./assets/img/imgL3.PNG" alt="imgL3">
          </h2>
          <h4 class="font--20 mt15">
            <strong>Servicio 3</strong>
          </h4>
          <p class="font--18 mt10">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit molestias sed repellat.
          </p>
          <div class="mt15">
            <img src="./assets/img/flecha2.PNG" alt="Arrow">
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt15">
      <div class="col-md-7">
        <p class="taC font--black font--23">
          Delectus voluptates esse sapiente consequatur a fugit quisquam distinctio dolor, minus eius repudiandae?
        </p>
      </div>
    </div>
    <div class="row mt15">
      <div class="col-md-12 taC">
        <img src="./assets/img/ovalo.PNG" alt="imgL1">
      </div>
    </div>
    <div class="row mt15">
      <div class="col-md-12 taC">
        <img src="./assets/img/extracontent.png" alt="Extracontent">
      </div>
    </div>
  </div>
</article>