
label.btn {
	input {
		display: none !important;
	}
}

.btn {
	@include flex(center,center,nowrap,inline-flex);
	vertical-align: middle;
	border: 1px solid transparent;
	outline: none;
	text-align: center;
	cursor: pointer;
	@include transition;
	font-weight: 600;
	@include fontSize(17);
	// Colors
	&--blue {
		color: $blue;
		background: lighten($blue , 34%);
		border-color: $white;
		&:hover, &.active {
			background: $blue;
			color: $white;
		}
	}
	&--green {
		color: $green;
		background: lighten($green , 45%);
		border-color: $white;
		&:hover, &.active {
			background: $green;
			color: $white;
		}
	}
	// Shapes
	&--circle {
		width: 60px;
		height: 60px;;
		border-radius: 50%;
		font-weight: normal;
	}
	// Shapes
	&--square {
		height: 60px;
		padding: 5px 30px;
		border-radius: 5px;
		&-small{
			height: 33px;
			padding: 0px 15px;
			font-size: 13px;
			letter-spacing: .8px;
			font-weight: 400;
			border-radius: 15px;
		}
	}
}
