// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap');

// @font-face {
//   font-family: 'bebas_neue_regularregular';
//   src:  url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/BebasNeueRegular.otf')  format('opentype'),
//         url('../fonts/BebasNeueRegular.woff') format('woff'),
//         url('../fonts/BebasNeueRegular.ttf')  format('truetype'),
//         url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


// font-family: Roboto;
// @mixin roboto {
//     font-family: 'Roboto', sans-serif;
// }

.taC {
	text-align: center;
}

.taR {
	text-align: right;
}

.taL {
	text-align: left;
}

.taJ {
	text-align: justify;
}

p{
	color: $txtGray;
	margin-bottom: 5px;
	letter-spacing: .6px;
}

.font{
	&--title{
		font-weight: 300;
		@include fontSize(60)
	}
	&--subtitle{
		font-weight: 300;
		@include fontSize(35)
	}
	&--14{@include fontSize(14)}
	&--15{@include fontSize(15)}
	&--16{@include fontSize(16)}
	&--17{@include fontSize(17)}
	&--18{@include fontSize(18)}
	&--19{@include fontSize(19)}
	&--20{@include fontSize(20)}
	&--21{@include fontSize(21)}
	&--22{@include fontSize(22)}
	&--23{@include fontSize(23)}
	&--24{@include fontSize(24)}
	// Colors
	&--blackText{color: $txtGray;}
	&--black{color: $black;}
}