@import '../../../scss/base/mediaqueries';
.bannerComponent{
    min-height: 100vh;
    padding-top: 70px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right top;
    background-image: url('../../../assets/img/Captura.PNG');
    @media #{$mediaMobile}{
        min-height: initial;
        padding-bottom: 40px;
        background-image: unset;
    }
}