<article class="bannerComponent">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="font--title">
          Título
        </h1>
        <p class="font--18">
          Contenido <a href="">more professional</a>
        </p>
        <p class="font--18">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti eligendi error itaque voluptates, ipsa in, fugit expedita impedit cupiditate reiciendis exercitationem quos veniam ducimus nemo tempora quo aut eos. Blanditiis.
        </p>
        <div class="d-flex mt15">
          <a href="#" class="btn btn--square btn--blue">Get Started</a>
          <a class="ml30" href="#">
            <span class="btn btn--circle btn--green">▶︎</span>
            <span class="ml10 font--18 font--black">Play Video</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</article>

